.radio-primary .member { position: relative; top: 4px; left: 0; }

    .radio-primary .member span {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 15px;
        padding-left: 20px;
    }

        .radio-primary .member span:before, .radio-primaryc h6:last-child:before {
            content: url(../../assets/img/down-arrow-orange.svg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
            position: absolute;
            left: 0;
            top: 0;
        }

.sender-address-detail .radio-primary label {
    float: left;
}
